PORT=5000
NODE_ENV=development
JWT_SECRET=91878b4cc4dd7f74a679bc81b071c4138c6292dadb3dfd372f00d3fe580a05ee
MONGODB_URI=mongodb+srv://avneeshvishwakarma556_db_user:ugg7tPGijdeqja0j@cluster.mongodb.net/marketnest
CLOUDINARY_NAME=dubjxaeuu
CLOUDINARY_API_KEY=555179673236891
CLOUDINARY_API_SECRET=DhAIsrpwKS0eIP836Lvl3bZtBTU
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
CLIENT_URL=https://market-nest-phi.vercel.app
CORS_ORIGINS=http://localhost:5173,https://market-nest-phi.vercel.app

